/* Header */
.header {
  background-image: url('images/taylor-van-riper-sky.jpg');
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.menu,
#header-title {
  display: flex;
  justify-content: space-around;
}

/* Content */
#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#avatarQuote-container {
  margin-top: 20px;
}
