#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

.header{
    background-image: url("images/taylor-van-riper-sky.jpg");
    padding: 3%;
}

}

#avatarQuote-container {
  margin-top: 20px;
}
